/* Fonts */

* {
  font-family: 'Nunito', sans-serif;
}

/* Background and text colors */

.bg-gray-nav {
  background-color: #F8F5FB;
}

.text-black {
  color: #000000;
}

.center {
  text-align: center;
}

/* Font sizes and weights */

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-50 {
  font-size: 50px;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

/* Buttons */

.trial-button {
  background: #E696FF;
  border: none;
  border-radius: 30px;
  color: #000000;
  font-family: 'Nunito', sans-serif;
  height: 53px;
  width: 207px;
}

.trial-button:hover {
  background-color: #FE46DB;
}

.trial-button:focus {
  outline: none;
}

.pink {
  background-image: url("../images/pink_background.svg");
  background-repeat: round;
  background-size: cover;
}